{% extends 'ads/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <form action="{% url 'ad-search' %}" method="GET">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <ul>
        <h2>Categories</h2>
        {% for category in categories %}
            <li><a href="{% url 'ads-filtered' category=category.0 %}">{{ category.0 }}</a></li>
        {% endfor %}
    </ul>
    {% for ad in ads %}
        <p><a href="{% url 'ad-detail' pk=ad.pk %}">{{ ad.title }}</a></p>
        <p>{{ ad.date_posted }}</p>
    {% endfor %}
{% endblock %}